In [9]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit, RandomizedSearchCV
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor


train_data = pd.read_csv('rosneft/train_data.csv')
gtm = pd.read_csv('rosneft/gtm.csv')
coords = pd.read_csv('rosneft/coords.csv')
sampl_sab = pd.read_csv('rosneft/sample_submission.csv')
train_data["MEASURED_IN_DATE"] = pd.to_datetime(train_data["MEASURED_IN_DATE"])


# all_data = pd.read_csv('rosneft/gotov_ebat.csv', index_col='Unnamed: 0')
all_data = pd.read_csv('rosneft/gotov_ebat.csv', index_col='Unnamed: 0')
all_data["MEASURED_IN_DATE"] = pd.to_datetime(all_data["MEASURED_IN_DATE"])
all_data_w_d = all_data.drop(columns=['MEASURED_IN_DATE'])

In [10]:
all_data

,MEASURED_IN_DATE,CHARWORK,LIQ_RATE,WATER_CUT,P_ZAB,INTAKE,WELL_NAME,time_id
17437,2016-08-02,0.0,690.0,0.5,159.19,0.0,aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...,0
17438,2016-08-03,0.0,690.0,0.5,159.19,0.0,aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...,1
17439,2016-08-04,0.0,690.0,0.5,153.19,0.0,aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...,2
17440,2016-08-05,0.0,780.0,0.5,151.21,0.0,aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...,3
17441,2016-08-06,0.0,780.0,0.5,151.21,0.0,aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...,4
...,...,...,...,...,...,...,...,...
104377,2022-05-31,0.0,339.0,70.0,55.69,0.0,18ea8ca26bcabaac4fd073a00ba741a627f3649a6983a7...,2128
53662,2022-05-31,0.0,225.0,58.0,75.48,0.0,b04d54ff8a670262e81f0e0b514a32e03baa85200cd9f2...,2128
54379,2022-05-31,0.0,170.0,91.0,178.15,0.0,b694e479af091b82198c24a43195efbb9578a4f0e2e163...,2128
104892,2022-05-31,0.0,208.0,88.0,113.02,0.0,139e20fe864acf1a4b831ac25d417fe70725cbee85197c...,2128
122411,2022-05-31,0.0,328.0,70.0,60.73,0.0,1de41569155b66df7355c8fc7a53e80333aea79dc9bb37...,2128

In [11]:
def predict_step_by_step(model, row, days):
    forecasting_for_days = []
    new_arr_to_predict = row.to_numpy().tolist()
    for i in range(days):
        tensor_to_predict = np.array(new_arr_to_predict)

        predict = model.predict(tensor_to_predict)[0]
        forecasting_for_days.append(predict)
        new_arr_to_predict = [new_arr_to_predict[0][:-1]]
        new_arr_to_predict[0].insert(0, forecasting_for_days[-1])
    
    return forecasting_for_days

def lag_features_liquid_rate(df, lags):
    for lag in lags:
        df[f"lag_t-{lag}"] = df.groupby(["CHARWORK"])["LIQ_RATE"].transform(
            lambda x: x.shift(lag))
    return df

def lag_features_water_cut(df, lags):
    for lag in lags:
        df[f"lag_t-{lag}"] = df.groupby(["CHARWORK"])["WATER_CUT"].transform(
            lambda x: x.shift(lag))
    return df

In [35]:
def get_rf_cb_predictions(DATA_DIR, LAG_WINDOW_SIZE = 90) -> pd.DataFrame:

    all_data = pd.read_csv(DATA_DIR + '/gotov_ebat.csv')
    all_data["MEASURED_IN_DATE"] = pd.to_datetime(all_data["MEASURED_IN_DATE"])
    to_drop = ['P_ZAB', 'INTAKE', 'Unnamed: 0', 'time_id']
    all_data = all_data.drop(columns=to_drop)


    rf_to_do_dict = {
        'debcf7a160692239563af8a9c8ba32c4ba067e747f19c8073055e2be5aeb4022': 253,
         '114183900f2d540609911971f3ae3f3d42ab8b4fa9252d0c4076b00d482c1594': 216,
         '8d4b4b4f0140179b1c94722f3d39100bcde8f3c39415983813c74bd52cf1ab3c': 336,
         '2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc832f4c4b9ce845d9bb7': 133
    }

    rf_date_miss_dict = {
        key: all_data[all_data.WELL_NAME == key] \
        for key in rf_to_do_dict.keys()
    }
    
    
    rf_forecasts_dict_WC = dict()
    best_wc_models = []

    for c, i in enumerate(rf_date_miss_dict):
        train_data = rf_date_miss_dict[i].drop(columns=['WELL_NAME', 'LIQ_RATE'])
        train_with_lags = lag_features_water_cut(train_data, lags=[*range(1, LAG_WINDOW_SIZE + 1)])
        train_with_lags = train_with_lags.dropna()
        y = train_with_lags['WATER_CUT']
        if len(train_with_lags['MEASURED_IN_DATE']) == 0:
            continue
        else:
            last_date = np.array(train_with_lags['MEASURED_IN_DATE'])[-1]
            train_with_lags = train_with_lags.drop(columns=['WATER_CUT', 'CHARWORK'
                                                            , 'MEASURED_IN_DATE'])
            index_to_predict = pd.date_range(start=last_date + np.timedelta64(1, 'D')
                                             , end=last_date + np.timedelta64(rf_to_do_dict[i], 'D'))
            model = RandomForestRegressor(n_estimators=110, min_samples_split=5
                                          , min_samples_leaf=3, random_state=1984)        
            model.fit(train_with_lags, y)
            forecast = pd.Series(predict_step_by_step(model, train_with_lags.tail(1)
                                                      , rf_to_do_dict[i])
                                 , index=index_to_predict)
            rf_forecasts_dict_WC[i] = forecast
#             print('Score:\t', mean_squared_error(model.predict(train_with_lags), y))
    
    
    def drop_constant_columns(df):
        return df.loc[:, (df != df.iloc[0]).any()]


    cb_forecasts_dict_LR = dict()
    # best_wc_cbrs = []
    scores = []


    rf_forecasts_dict_LR = dict()
    # best_lr_models = []

    for c, i in enumerate(rf_date_miss_dict):
        train_data = rf_date_miss_dict[i].drop(columns=['WELL_NAME', 'WATER_CUT'])
        train_with_lags = lag_features_liquid_rate(train_data
                                                   , lags=[*range(1, LAG_WINDOW_SIZE + 1)])
        train_with_lags = train_with_lags.dropna()
        y = train_with_lags['LIQ_RATE']
        if len(train_with_lags['MEASURED_IN_DATE']) == 0:
            continue
        else:
            last_date = np.array(train_with_lags['MEASURED_IN_DATE'])[-1]
            train_with_lags = train_with_lags.drop(columns=['LIQ_RATE'
                                                            , 'MEASURED_IN_DATE', 'CHARWORK'])
            index_to_predict = pd.date_range(start=last_date + np.timedelta64(1, 'D')
                                             , end=last_date \
                                             + np.timedelta64(rf_to_do_dict[i], 'D'))

            model = CatBoostRegressor(iterations=1400, learning_rate=7e-3
                                              , max_depth=10, random_state=1984)
            model.fit(train_with_lags, y, metric_period=200)
            forecast = pd.Series(predict_step_by_step(model, train_with_lags.tail(1)
                                                      , rf_to_do_dict[i])
                                 , index=index_to_predict)
            cb_forecasts_dict_LR[i] = forecast
            scores.append(mean_squared_error(model.predict(train_with_lags), y))
    #         best__cbrs.append(search.best_estimator_)
    
    df = pd.DataFrame()
    check = set()
    for i in rf_forecasts_dict_WC:
        frcst_for_well_l_r = pd.DataFrame()
        frcst_for_well_w_c = pd.DataFrame()

        frcst_for_well_w_c['MEASURED_IN_DATE'] = rf_forecasts_dict_WC[i].index
        frcst_for_well_l_r['MEASURED_IN_DATE'] = cb_forecasts_dict_LR[i].index
        frcst_for_well_w_c['WELL_NAME'] = i
        frcst_for_well_l_r['WELL_NAME'] = i
        frcst_for_well_w_c = frcst_for_well_w_c.set_index('MEASURED_IN_DATE')
        frcst_for_well_l_r = frcst_for_well_l_r.set_index('MEASURED_IN_DATE')
        frcst_for_well_l_r['LIQ_RATE'] = cb_forecasts_dict_LR[i]
        frcst_for_well_w_c['WATER_CUT'] = rf_forecasts_dict_WC[i]
        frcst_for_well = frcst_for_well_l_r.merge(frcst_for_well_w_c
                                                  , on=['MEASURED_IN_DATE', 'WELL_NAME']
                                                  , how='inner')
        if i not in check:
            check.add(i)
        else:
            print(i)
        df = pd.concat([df, frcst_for_well])
    df = df.reset_index()
    
    return df

In [36]:
def get_rf_cb_predictions(DATA_DIR, LAG_WINDOW_SIZE = 90) -> pd.DataFrame:

    all_data = pd.read_csv(DATA_DIR + '/gotov_ebat.csv')
    all_data["MEASURED_IN_DATE"] = pd.to_datetime(all_data["MEASURED_IN_DATE"])
    to_drop = ['P_ZAB', 'INTAKE', 'Unnamed: 0', 'time_id']
    all_data = all_data.drop(columns=to_drop)

    # I HATE NIG-
    rf_to_do_dict = {
        'debcf7a160692239563af8a9c8ba32c4ba067e747f19c8073055e2be5aeb4022': 253,
         '114183900f2d540609911971f3ae3f3d42ab8b4fa9252d0c4076b00d482c1594': 216,
         '8d4b4b4f0140179b1c94722f3d39100bcde8f3c39415983813c74bd52cf1ab3c': 336,
         '2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc832f4c4b9ce845d9bb7': 133
    }

    rf_date_miss_dict = {
        key: all_data[all_data.WELL_NAME == key] \
        for key in rf_to_do_dict.keys()
    }
    rf_forecasts_dict_WC = dict()
    best_wc_models = []
    for c, i in enumerate(rf_date_miss_dict):
        train_data = rf_date_miss_dict[i].drop(columns=['WELL_NAME', 'LIQ_RATE'])
        train_with_lags = lag_features_water_cut(train_data, lags=[*range(1, LAG_WINDOW_SIZE + 1)])
        train_with_lags = train_with_lags.dropna()
        y = train_with_lags['WATER_CUT']
        if len(train_with_lags['MEASURED_IN_DATE']) == 0:
            continue
        else:
            last_date = np.array(train_with_lags['MEASURED_IN_DATE'])[-1]
            train_with_lags = train_with_lags.drop(columns=['WATER_CUT', 'CHARWORK'
                                                            , 'MEASURED_IN_DATE'])
            index_to_predict = pd.date_range(start=last_date + np.timedelta64(1, 'D')
                                             , end=last_date + np.timedelta64(rf_to_do_dict[i], 'D'))
            model = RandomForestRegressor(n_estimators=110, min_samples_split=5
                                          , min_samples_leaf=3, random_state=1984)        
            model.fit(train_with_lags, y)
            forecast = pd.Series(predict_step_by_step(model, train_with_lags.tail(1)
                                                      , rf_to_do_dict[i])
                                 , index=index_to_predict)
            rf_forecasts_dict_WC[i] = forecast
#             print('Score:\t', mean_squared_error(model.predict(train_with_lags), y))
    
    
    def drop_constant_columns(df):
        return df.loc[:, (df != df.iloc[0]).any()]


    cb_forecasts_dict_LR = dict()
    # best_wc_cbrs = []
    scores = []
    rf_forecasts_dict_LR = dict()
    # best_lr_models = []

    for c, i in enumerate(rf_date_miss_dict):
        train_data = rf_date_miss_dict[i].drop(columns=['WELL_NAME', 'WATER_CUT'])
        train_with_lags = lag_features_liquid_rate(train_data
                                                   , lags=[*range(1, LAG_WINDOW_SIZE + 1)])
        train_with_lags = train_with_lags.dropna()
        y = train_with_lags['LIQ_RATE']
        if len(train_with_lags['MEASURED_IN_DATE']) == 0:
            continue
        else:
            last_date = np.array(train_with_lags['MEASURED_IN_DATE'])[-1]
            train_with_lags = train_with_lags.drop(columns=['LIQ_RATE'
                                                            , 'MEASURED_IN_DATE', 'CHARWORK'])
            index_to_predict = pd.date_range(start=last_date + np.timedelta64(1, 'D')
                                             , end=last_date \
                                             + np.timedelta64(rf_to_do_dict[i], 'D'))

            model = CatBoostRegressor(iterations=1400, learning_rate=7e-3
                                              , max_depth=10, random_state=1984)
            model.fit(train_with_lags, y, metric_period=200)
            forecast = pd.Series(predict_step_by_step(model, train_with_lags.tail(1)
                                                      , rf_to_do_dict[i])
                                 , index=index_to_predict)
            cb_forecasts_dict_LR[i] = forecast
            scores.append(mean_squared_error(model.predict(train_with_lags), y))
    #         best__cbrs.append(search.best_estimator_)
    
    
    df = pd.DataFrame()
    check = set()
    for i in rf_forecasts_dict_WC:
        frcst_for_well_l_r = pd.DataFrame()
        frcst_for_well_w_c = pd.DataFrame()
        frcst_for_well_w_c['MEASURED_IN_DATE'] = rf_forecasts_dict_WC[i].index
        frcst_for_well_l_r['MEASURED_IN_DATE'] = cb_forecasts_dict_LR[i].index
        frcst_for_well_w_c['WELL_NAME'] = i
        frcst_for_well_l_r['WELL_NAME'] = i
        frcst_for_well_w_c = frcst_for_well_w_c.set_index('MEASURED_IN_DATE')
        frcst_for_well_l_r = frcst_for_well_l_r.set_index('MEASURED_IN_DATE')
        frcst_for_well_l_r['LIQ_RATE'] = cb_forecasts_dict_LR[i]
        frcst_for_well_w_c['WATER_CUT'] = rf_forecasts_dict_WC[i]
        frcst_for_well = frcst_for_well_l_r.merge(frcst_for_well_w_c
                                                  , on=['MEASURED_IN_DATE', 'WELL_NAME']
                                                  , how='inner')
        if i not in check:
            check.add(i)
        else:
            print(i)
        df = pd.concat([df, frcst_for_well])
    df = df.reset_index()
    
    return df

0:	learn: 40.7446887	total: 32.9ms	remaining: 46s
200:	learn: 13.4435697	total: 6.7s	remaining: 40s
400:	learn: 6.5421804	total: 13.6s	remaining: 34s
600:	learn: 4.8979563	total: 20.4s	remaining: 27.2s
800:	learn: 4.3135647	total: 27.9s	remaining: 20.9s
1000:	learn: 3.9644037	total: 35.9s	remaining: 14.3s
1200:	learn: 3.7153399	total: 43.5s	remaining: 7.21s
1399:	learn: 3.4747430	total: 51.4s	remaining: 0us
0:	learn: 23.6993047	total: 1.17ms	remaining: 1.64s
200:	learn: 12.5519917	total: 772ms	remaining: 4.61s
400:	learn: 7.7439892	total: 1.53s	remaining: 3.82s
600:	learn: 5.4028542	total: 2.38s	remaining: 3.16s
800:	learn: 4.0690680	total: 3.2s	remaining: 2.39s
1000:	learn: 3.1803532	total: 3.95s	remaining: 1.57s
1200:	learn: 2.5718623	total: 4.66s	remaining: 772ms
1399:	learn: 2.1601799	total: 5.38s	remaining: 0us
0:	learn: 38.6801650	total: 1.05ms	remaining: 1.47s
200:	learn: 16.5448036	total: 669ms	remaining: 3.99s
400:	learn: 7.5175734	total: 1.34s	remaining: 3.35s
600:	learn: 3.8958621	total: 2s	remaining: 2.67s
800:	learn: 2.3745548	total: 2.66s	remaining: 1.99s
1000:	learn: 1.6024899	total: 3.39s	remaining: 1.35s
1200:	learn: 1.1639076	total: 4.16s	remaining: 690ms
1399:	learn: 0.8646765	total: 4.89s	remaining: 0us
0:	learn: 15.9645683	total: 4.05ms	remaining: 5.67s
200:	learn: 5.9603983	total: 810ms	remaining: 4.83s
400:	learn: 2.7759946	total: 1.68s	remaining: 4.18s
600:	learn: 1.7266339	total: 2.53s	remaining: 3.36s
800:	learn: 1.2519272	total: 3.37s	remaining: 2.52s
1000:	learn: 0.9851696	total: 4.22s	remaining: 1.68s
1200:	learn: 0.8169981	total: 5.07s	remaining: 840ms
1399:	learn: 0.6743405	total: 5.96s	remaining: 0us

,MEASURED_IN_DATE,WELL_NAME,LIQ_RATE,WATER_CUT
0,2022-01-20,debcf7a160692239563af8a9c8ba32c4ba067e747f19c8...,435.535228,90.511002
1,2022-01-21,debcf7a160692239563af8a9c8ba32c4ba067e747f19c8...,434.564190,90.502407
2,2022-01-22,debcf7a160692239563af8a9c8ba32c4ba067e747f19c8...,434.619615,90.531591
3,2022-01-23,debcf7a160692239563af8a9c8ba32c4ba067e747f19c8...,433.021415,90.550742
4,2022-01-24,debcf7a160692239563af8a9c8ba32c4ba067e747f19c8...,431.159840,90.579024
...,...,...,...,...
933,2022-09-25,2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc8...,90.705456,7.545065
934,2022-09-26,2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc8...,90.687178,7.545065
935,2022-09-27,2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc8...,90.659510,7.545065
936,2022-09-28,2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc8...,90.721293,7.545065
937,2022-09-29,2ceb0e2b3c28cc1b3c3f8dec7ad56148dbf6ea77f9ffc8...,90.711585,7.545065

In [16]:
all_data = pd.read_csv('rosneft/gotov_ebat.csv')
all_data["MEASURED_IN_DATE"] = pd.to_datetime(all_data["MEASURED_IN_DATE"])
to_drop = ['P_ZAB', 'INTAKE', 'Unnamed: 0', 'time_id']
all_data = all_data.drop(columns=to_drop)

rf_date_miss_dict = dict()
for i in all_data.WELL_NAME.unique():
    rf_date_miss_dict[i] = all_data[all_data['WELL_NAME'] == i]
# rf_date_miss_dict

In [61]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

def vaildate_timeseries(data, y, model):
    X = data[:len(data)-20]
    y_true = y[len(data)-20:]
    forecast = pd.Series(predict_step_by_step(model, X, 20))
    
    return mean_absolute_error(forecast, y_true)

def rijilya_predict(LAG_WINDOW_SIZE=60, forecast_horizon=336) -> pd.DataFrame:    
    rf_forecasts_dict_WC = dict()
    rf_forecasts_dict_LR = dict()
    for c, i in enumerate(rf_date_miss_dict):
        print(i)
        train_data = rf_date_miss_dict[i].drop(columns=['WELL_NAME', 'LIQ_RATE'])
        train_with_lags = lag_features_water_cut(train_data, lags=[*range(1, LAG_WINDOW_SIZE + 1)])
        train_with_lags = train_with_lags.dropna()
        y = train_with_lags['WATER_CUT']
        if len(y) == 0:
            continue
        last_date = np.array(train_with_lags['MEASURED_IN_DATE'])[-1]
        index_to_predict = pd.date_range(start=last_date + np.timedelta64(1, 'D'), end=last_date + np.timedelta64(forecast_horizon, 'D'))
        train_with_lags = train_with_lags.drop(columns=['WATER_CUT', 'CHARWORK', 'MEASURED_IN_DATE'])
        model = RandomForestRegressor(n_estimators=110, min_samples_split=5, min_samples_leaf=3, random_state=2077)        
        model.fit(train_with_lags, y)
        forecast = pd.Series(predict_step_by_step(model, train_with_lags.tail(1), forecast_horizon), index=index_to_predict)
        rf_forecasts_dict_WC[i] = forecast
        print("validate on LR", vaildate_timeseries(train_with_lags, y, model))
        
        train_data = rf_date_miss_dict[i].drop(columns=['WELL_NAME', 'WATER_CUT'])
        train_with_lags = lag_features_liquid_rate(train_data, lags=[*range(1, LAG_WINDOW_SIZE + 1)])
        train_with_lags = train_with_lags.dropna()
        y = train_with_lags['LIQ_RATE']
        train_with_lags = train_with_lags.drop(columns=['LIQ_RATE', 'MEASURED_IN_DATE', 'CHARWORK'])
        model = RandomForestRegressor(n_estimators=110, min_samples_split=5, min_samples_leaf=3, random_state=2077)        
        model.fit(train_with_lags, y)
        print("validate on WC", vaildate_timeseries(train_with_lags, y, model))
        forecast = pd.Series(predict_step_by_step(model, train_with_lags.tail(1), forecast_horizon), index=index_to_predict)
        rf_forecasts_dict_LR[i] = forecast
        
        return rf_forecasts_dict_LR, rf_forecasts_dict_WC

In [63]:
rijilya_predict()

{'aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac29b1ac755b9a9b31cb8':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 0            2016-08-02       0.0     690.0        0.5
 1            2016-08-03       0.0     690.0        0.5
 2            2016-08-04       0.0     690.0        0.5
 3            2016-08-05       0.0     780.0        0.5
 4            2016-08-06       0.0     780.0        0.5
 ...                 ...       ...       ...        ...
 121664       2022-05-27       0.0     758.0       92.0
 121748       2022-05-28       0.0     758.0       92.0
 122032       2022-05-29       0.0     758.0       92.0
 122174       2022-05-30       0.0     758.0       92.0
 122369       2022-05-31       0.0     758.0       92.0

                                                 WELL_NAME
 0       aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 1       aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 2       aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 3       aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 4       aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 ...                                                   ...
 121664  aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 121748  aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 122032  aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 122174  aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...
 122369  aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac2...

 [2112 rows x 5 columns],
 '220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae670fcfffdcff912ec4':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 149          2016-12-29       0.0     455.0        1.0
 152          2016-12-30       0.0     453.0        1.0
 153          2016-12-31       0.0     453.0        1.0
 155          2017-01-01       0.0     453.0        1.0
 158          2017-01-02       0.0     453.0        1.0
 ...                 ...       ...       ...        ...
 121633       2022-05-27       0.0     308.0        7.0
 121846       2022-05-28       0.0     308.0        7.0
 121987       2022-05-29       0.0     308.0        7.0
 122238       2022-05-30       0.0     312.0        7.0
 122362       2022-05-31       0.0     312.0        7.0

                                                 WELL_NAME
 149     220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 152     220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 153     220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 155     220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 158     220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 ...                                                   ...
 121633  220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 121846  220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 121987  220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 122238  220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...
 122362  220464bc65a012f767aa51f72f0aadcb3e5ddab2f848ae...

 [1961 rows x 5 columns],
 '4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f0a0682966705df9a2e':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 238          2017-02-11       0.0    1058.0        7.0
 241          2017-02-12       0.0    1058.0        7.0
 244          2017-02-13       0.0    1022.0        7.0
 247          2017-02-14       0.0    1022.0        7.0
 251          2017-02-15       0.0    1022.0        8.0
 ...                 ...       ...       ...        ...
 121672       2022-05-27       0.0      63.0       38.0
 121783       2022-05-28       0.0      63.0       38.0
 122058       2022-05-29       0.0      63.0       38.0
 122260       2022-05-30       0.0      63.0       38.0
 122370       2022-05-31       0.0      63.0       38.0

                                                 WELL_NAME
 238     4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 241     4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 244     4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 247     4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 251     4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 ...                                                   ...
 121672  4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 121783  4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 122058  4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 122260  4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...
 122370  4c7a28b12601be8c51bcd4be8b9227a465dfde2e79998f...

 [1931 rows x 5 columns],
 'e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc557e1a7c4a6ba0065c5':        MEASURED_IN_DATE  CHARWORK     LIQ_RATE  WATER_CUT  \
 459          2017-04-26       0.0  1346.000000   2.000000
 463          2017-04-27       0.0  1361.000000   2.000000
 467          2017-04-28       0.0  1361.000000   2.000000
 470          2017-04-29       0.0  1361.000000   1.000000
 474          2017-04-30       0.0  1361.000000   1.000000
 ...                 ...       ...          ...        ...
 121563       2022-05-27       0.0   897.897959  58.612245
 121756       2022-05-28       0.0   872.000000  62.000000
 122069       2022-05-29       0.0   872.000000  62.000000
 122153       2022-05-30       0.0   872.000000  62.000000
 122359       2022-05-31       0.0   872.000000  62.000000

                                                 WELL_NAME
 459     e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 463     e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 467     e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 470     e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 474     e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 ...                                                   ...
 121563  e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 121756  e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 122069  e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 122153  e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...
 122359  e01e3e8c387e0c7c7357753f5e5b23397f66aa04a76cc5...

 [1842 rows x 5 columns],
 '8fd2d65accab0dab1681e687dade3a4260a8bec03b8626f29cfeeef4169ae10f':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 582          2017-05-26       0.0     818.0        1.0
 583          2017-05-27       0.0     825.0        1.0
 588          2017-05-28       0.0     813.0        1.0
 596          2017-05-29       0.0     803.0        1.0
 599          2017-05-30       0.0     799.0        1.0
 ...                 ...       ...       ...        ...
 121690       2022-05-27       0.0     480.0       90.0
 121742       2022-05-28       0.0     480.0       90.0
 122075       2022-05-29       0.0     480.0       90.0
 122190       2022-05-30       0.0     480.0       90.0
 122374       2022-05-31       0.0     480.0       90.0

                                                 WELL_NAME
 582     8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 583     8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 588     8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 596     8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 599     8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 ...                                                   ...
 121690  8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 121742  8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 122075  8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 122190  8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...
 122374  8fd2d65accab0dab1681e687dade3a4260a8bec03b8626...

 [1822 rows x 5 columns],
 'fb40f51a63a63fb7fbdb018899e613c537335b417b6414ca2581bf72ee254acd':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 679          2017-06-15       0.0    1071.0        2.0
 685          2017-06-16       0.0    1064.0        2.0
 694          2017-06-17       0.0    1066.0        2.0
 699          2017-06-18       0.0    1056.0        2.0
 706          2017-06-19       0.0    1054.0        2.0
 ...                 ...       ...       ...        ...
 121657       2022-05-27       0.0     639.0       91.0
 121850       2022-05-28       0.0     639.0       91.0
 121954       2022-05-29       0.0     639.0       91.0
 122235       2022-05-30       0.0     639.0       91.0
 122264       2022-05-31       0.0     639.0       91.0

                                                 WELL_NAME
 679     fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 685     fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 694     fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 699     fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 706     fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 ...                                                   ...
 121657  fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 121850  fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 121954  fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 122235  fb40f51a63a63fb7fbdb018899e613c537335b417b6414...
 122264  fb40f51a63a63fb7fbdb018899e613c537335b417b6414...

 [1796 rows x 5 columns],
 '8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503d592a456a23670c4fa':        MEASURED_IN_DATE  CHARWORK     LIQ_RATE  WATER_CUT  \
 980          2017-08-04       0.0  1210.000000   1.000000
 987          2017-08-05       0.0  1210.000000   1.000000
 998          2017-08-06       0.0  1210.000000   1.000000
 1004         2017-08-07       0.0  1210.000000   1.000000
 1010         2017-08-08       0.0  1210.000000   1.000000
 ...                 ...       ...          ...        ...
 121469       2022-05-26       0.0   844.028986  78.652174
 121642       2022-05-27       0.0   843.970588  78.617647
 121813       2022-05-28       0.0   824.000000  74.000000
 121971       2022-05-29       0.0   824.000000  74.000000
 122126       2022-05-30       0.0   824.000000  74.000000

                                                 WELL_NAME
 980     8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 987     8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 998     8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 1004    8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 1010    8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 ...                                                   ...
 121469  8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 121642  8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 121813  8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 121971  8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...
 122126  8d22b7914a9aaa3ecfa0e00324f94210776ab6de9a3503...

 [1741 rows x 5 columns],
 'cce7e6db14c3e631b6bd50568054c468045b6a265899c020dd0f01d4944d9465':        MEASURED_IN_DATE  CHARWORK     LIQ_RATE  WATER_CUT  \
 1118         2017-08-24       0.0  1222.000000   1.000000
 1131         2017-08-25       0.0  1222.000000   1.000000
 1135         2017-08-26       0.0  1189.000000   1.000000
 1143         2017-08-27       0.0  1189.000000   1.000000
 1150         2017-08-28       0.0  1143.000000   1.000000
 ...                 ...       ...          ...        ...
 121494       2022-05-26       0.0  1348.695122  83.963415
 121579       2022-05-27       0.0  1318.000000  86.000000
 121763       2022-05-28       0.0  1318.000000  86.000000
 122017       2022-05-29       0.0  1318.000000  86.000000
 122123       2022-05-30       0.0  1318.000000  86.000000

                                                 WELL_NAME
 1118    cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 1131    cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 1135    cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 1143    cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 1150    cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 ...                                                   ...
 121494  cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 121579  cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 121763  cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 122017  cce7e6db14c3e631b6bd50568054c468045b6a265899c0...
 122123  cce7e6db14c3e631b6bd50568054c468045b6a265899c0...

 [1722 rows x 5 columns],
 '8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd452a61ec20a0f5d9ab':        MEASURED_IN_DATE  CHARWORK    LIQ_RATE  WATER_CUT  \
 1599         2017-10-23       0.0  231.000000   70.00000
 1609         2017-10-24       0.0  231.000000   70.00000
 1620         2017-10-25       0.0  231.000000   70.00000
 1626         2017-10-26       0.0  230.000000   69.00000
 1639         2017-10-27       0.0  230.000000   69.00000
 ...                 ...       ...         ...        ...
 121462       2022-05-26       0.0  445.915285   70.46593
 121684       2022-05-27       0.0  346.000000   84.00000
 121831       2022-05-28       0.0  346.000000   84.00000
 121943       2022-05-29       0.0  346.000000   84.00000
 122169       2022-05-30       0.0  346.000000   84.00000

                                                 WELL_NAME
 1599    8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 1609    8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 1620    8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 1626    8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 1639    8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 ...                                                   ...
 121462  8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 121684  8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 121831  8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 121943  8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...
 122169  8a86c3f57690ec5f478e780c17281996c5e0b9b70bbdfd...

 [1673 rows x 5 columns],
 '10d49b5fa61178ffad5d43e493be05a9336f2c2281e197b50b3cd2e783e2099e':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 1876         2017-11-23       0.0     668.0       34.0
 1887         2017-11-24       0.0     668.0       34.0
 1898         2017-11-25       0.0     668.0       34.0
 1916         2017-11-26       0.0     668.0       34.0
 1928         2017-11-27       0.0     668.0       34.0
 ...                 ...       ...       ...        ...
 121572       2022-05-27       0.0     579.0       85.0
 121775       2022-05-28       0.0     579.0       85.0
 122041       2022-05-29       0.0     579.0       85.0
 122106       2022-05-30       0.0     579.0       85.0
 122372       2022-05-31       0.0     579.0       86.0

                                                 WELL_NAME
 1876    10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 1887    10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 1898    10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 1916    10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 1928    10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 ...                                                   ...
 121572  10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 121775  10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 122041  10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 122106  10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...
 122372  10d49b5fa61178ffad5d43e493be05a9336f2c2281e197...

 [1632 rows x 5 columns],
 'c54cb5885ae1f363434f0db35623507864b5aa43fe82cd94861a0ee7213c8a90':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 1877         2017-11-23       0.0     719.0       64.0
 1891         2017-11-24       0.0     719.0       64.0
 1900         2017-11-25       0.0     719.0       64.0
 1909         2017-11-26       0.0     719.0       64.0
 1920         2017-11-27       0.0     719.0       64.0
 ...                 ...       ...       ...        ...
 121636       2022-05-27       0.0     311.0       48.0
 121792       2022-05-28       0.0     311.0       48.0
 122013       2022-05-29       0.0     311.0       48.0
 122086       2022-05-30       0.0     304.0       48.0
 122269       2022-05-31       0.0     310.0       48.0

                                                 WELL_NAME
 1877    c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 1891    c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 1900    c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 1909    c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 1920    c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 ...                                                   ...
 121636  c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 121792  c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 122013  c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 122086  c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...
 122269  c54cb5885ae1f363434f0db35623507864b5aa43fe82cd...

 [1645 rows x 5 columns],
 '5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04998c034663d0a53c35':        MEASURED_IN_DATE  CHARWORK    LIQ_RATE  WATER_CUT  \
 2037         2017-12-07       0.0  224.000000   2.000000
 2049         2017-12-08       0.0  224.000000   2.000000
 2052         2017-12-09       0.0  228.000000   2.000000
 2072         2017-12-10       0.0  227.000000   2.000000
 2080         2017-12-11       0.0  226.000000   2.000000
 ...                 ...       ...         ...        ...
 121389       2022-05-26       0.0  414.198758  85.285714
 121590       2022-05-27       0.0  365.000000  86.000000
 121893       2022-05-28       0.0  365.000000  86.000000
 122008       2022-05-29       0.0  365.000000  86.000000
 122090       2022-05-30       0.0  365.000000  86.000000

                                                 WELL_NAME
 2037    5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 2049    5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 2052    5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 2072    5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 2080    5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 ...                                                   ...
 121389  5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 121590  5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 121893  5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 122008  5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...
 122090  5229c22a25eca7d2de860400dbc7e76e49b18dfcecea04...

 [1623 rows x 5 columns],
 '8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d344c5159d473ecdd318':        MEASURED_IN_DATE  CHARWORK    LIQ_RATE  WATER_CUT  \
 2457         2018-01-12       0.0  268.000000  91.000000
 2473         2018-01-13       0.0  267.000000  91.000000
 2488         2018-01-14       0.0  267.000000  91.000000
 2501         2018-01-15       0.0  240.000000  91.000000
 2512         2018-01-16       0.0  221.000000  87.000000
 ...                 ...       ...         ...        ...
 121405       2022-05-26       0.0  779.520796  90.835443
 121617       2022-05-27       0.0  663.000000  91.000000
 121874       2022-05-28       0.0  663.000000  91.000000
 122023       2022-05-29       0.0  663.000000  91.000000
 122259       2022-05-30       0.0  663.000000  91.000000

                                                 WELL_NAME
 2457    8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 2473    8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 2488    8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 2501    8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 2512    8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 ...                                                   ...
 121405  8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 121617  8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 121874  8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 122023  8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...
 122259  8a413fd5c3facf80b1f840e5ab25849f068d1662b8d6d3...

 [1588 rows x 5 columns],
 '96184ceab9c321bafb53b5e1c71df538d5435024098682fa1569003cafd35d22':        MEASURED_IN_DATE  CHARWORK  LIQ_RATE  WATER_CUT  \
 2821         2018-02-09       0.0     518.0       29.0
 2841         2018-02-10       0.0     518.0       29.0
 2847         2018-02-11       0.0     518.0       29.0
 2867         2018-02-12       0.0     518.0       29.0
 2881         2018-02-13       0.0     518.0       29.0
 ...                 ...       ...       ...        ...
 121656       2022-05-27       0.0     182.0       49.0
 121841       2022-05-28       0.0     182.0       49.0